.btn {
	color: #fff;
	width: 235px;
	height: 54px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #2D635E;
	border-radius: 5px;
	word-spacing: 0.4em;
}
.btn--head {
	width: 135px;
	height: 43px;
}
